<!DOCTYPE html>
<html lang="en">
<head>
  <title>Anonymous chat</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>

  <h3 class='no-message'>No messages yet..</h3>
  <div class="chat-app">
    <div class="content">
      <div class="message_holder"></div>
    </div>
    <div class="bottom-input">
      <form class= "chat-input" action="" method="POST">
        <input type="text" class="username" placeholder="Username"/>
        <input type="text" class="message message-input" placeholder="Message"/>
        <input type="submit" class="button"/>
      </form>
      <span>Send 'chucknorris' to get a Chuck Norris fact!</span>
    </div>
  </div>

  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
  <script type="text/javascript">
    var socket = io.connect('https://' + document.domain + ':' + location.port);
    socket.on( 'connect', function() {
      socket.emit( 'chat_event', {
        data: 'User Connected'
      } )
      var form = $( 'form' ).on( 'submit', function( e ) {
        e.preventDefault()
        let user_name = $( 'input.username' ).val()
        let user_input = $( 'input.message' ).val()
        socket.emit( 'chat_event', {
          user_name : user_name,
          message : user_input,
          timestamp : Date($.now())
        } )
        $( 'input.message' ).val( '' ).focus()
      } )
    } )
    socket.on( 'chat_response', function( msg ) {
      console.log( msg )
      if( typeof msg.user_name !== 'undefined' ) {
        $( 'h3' ).text( 'Chat' )
        if( msg.message === 'chucknorris' ) {
          let chuck_norris = "{{ get('https://api.chucknorris.io/jokes/random').json().value }}"
          $( 'div.message_holder' ).append(
            '<div class="container"><p><b>'+msg.user_name+'</b> '+ chuck_norris +' </p><span class="time">'+msg.timestamp+'</span></div>'
          )
        } else {
          $( 'div.message_holder' ).append(
            '<div class="container"><p><b>'+msg.user_name+'</b> '+msg.message+' </p><span class="time">'+msg.timestamp+'</span></div>'
          )
        }
      }
    })
  </script>

</body>
</html>
